.nav-link:hover{
    color: #1ea8df !important;
}
.navbar-2{
    position: fixed;
    top: 53px;
}
.font{
    font-family: "Anton", sans-serif;
    font-size: 68px;
}
.btn-primary{
    background-color: #0dcaf0 !important;
    border-color: #0dcaf0;
}
.border-primary{
    border-color: #0dcaf0 !important;
}
.padding-section{
    padding-top: 150px;
}
.circle{
    top: 200px;
    left: 1050px;
    width: 110px;
}
.footer-lst{
    list-style: none;
}
.navbar-toggler1{
    display: block !important;
}
.button1{
    font-size: 16px;
}


@media only screen and (max-width : 992px) {
    .circle{
        top: 550px ;
        left: 180px ;
        width: 100px;
    }
    .circle-text{
        font-size: 9px !important;
    }
    .card{
        width: 100% !important;
    }
    .padding-section{
        padding-top: 10px;
    }
      .circle-text{
        font-size: 20px !important;
    }
}
@media only screen and (max-width : 1183px){
    .circle{
        top: 640px;
        left: 400px;
        width: 110px;
    }
    .padding-section{
        padding-top: 10px;
    }
      .circle-text{
        font-size: 20px !important;
    }
} 

@media only screen and (max-width : 768px) {
    .banner-img{
        width: 300px ;
    }
    .circle{
        top: 630px;
        left: 190px;
        width: 75px;
    }
    .circle-text{
        font-size: 12px !important;
    }
    .card{
        width: 100% !important;
    }
    .navbar-2{
        position: fixed;
        top: 85px;
    }
    .padding-section{
        padding-top: 10px;
    }
    .main-section-text{
        margin: 0px !important;
        padding: 0px 0px 0px 30px!important;
    }
}
